<?xml version="1.0" encoding="GBK"?>
<bean-mappings xmlns="http://www.alibaba.com/schema/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.alibaba.com/schema/mapping ../../../main/resources/META-INF/mapping.xsd">
    <bean-mapping srcClass="map" targetClass="java.util.HashMap" reversable="false">
    	<field-mapping srcName="id" srcClass="java.lang.String" targetName="id" targetClass="java.lang.String" defaultValue="0" convetor="stringToDate" script="idFormat.format()" />
    	<field-mapping mapping="true" srcName="model" targetName="model" ></field-mapping>
    </bean-mapping>
</bean-mappings>